* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 239, 248);
}

.header {
    display: flex;
    font-size: 10px;

    .steps {
        display: block;
        margin-left: -200px;
    }

    .circle1 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(53, 176, 247);
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: black;
    }

    .step1 {
        display: flex;
        margin-top: 40px;
        margin-left: -50px;

        .title1 {
            margin-left: 10px;

            h4 {
                color: rgba(232, 243, 243, 0.575);
            }

            h2 {
                color: white;
            }
        }
    }

    .circle2 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: #fff;
    }

    .step2 {
        display: flex;
        margin-top: 30px;
        margin-left: -50px;

        .title2 {
            margin-left: 10px;
        }

        h4 {
            color: rgba(232, 243, 243, 0.575);
        }

        h2 {
            color: white;
        }
    }

    .circle3 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: #fff;
    }

    .step3 {
        display: flex;
        margin-top: 30px;
        margin-left: -50px;

        .title3 {
            margin-left: 10px;
        }

        h4 {
            color: rgba(232, 243, 243, 0.575);
        }

        h2 {
            color: white;
        }
    }

    .circle4 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: #fff;
    }

    .step4 {
        display: flex;
        margin-top: 30px;
        margin-left: -50px;

        .title4 {
            margin-left: 10px;
        }

        h4 {
            color: rgba(232, 243, 243, 0.575);
        }

        h2 {
            color: white;
        }
    }

}

.container {
    display: flex;
    background-color: #fff;
    margin-top: 80px;
    min-width: 800px;
    margin-left: 250px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 250px;
}

.main-1 {
    display: block;

    .headerCon {
        margin-left: 220px;
        margin-top: 50px;
    }

    .nameLabel {
        margin-left: 220px;
        margin-top: 30px;

        label {
            display: block;
            color: rgb(1, 1, 92);
        }

        input {
            width: 400px;
            height: 40px;
            margin-top: 10px;
            text-indent: 15px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }

    .emailLabel {
        margin-left: 220px;
        margin-top: 30px;

        label {
            display: block;
            color: rgb(1, 1, 92);
        }

        input {
            width: 400px;
            height: 40px;
            margin-top: 10px;
            text-indent: 15px;
            border-radius: 5px;
        }
    }

    .numberLabel {
        margin-left: 220px;
        margin-top: 30px;

        label {
            display: block;
            color: rgb(1, 1, 92);
        }

        input {
            width: 400px;
            height: 40px;
            margin-top: 10px;
            text-indent: 15px;
            border-radius: 5px;
        }
    }

    button {
        float: right;
        margin-top: 75px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: rgb(1, 1, 92);
        color: white;
        cursor: pointer;
    }


}

.main-2 {
    display: none;

    .header-2 {
        margin-left: 180px;
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
    }

    .icons {
        display: flex;

        .btn-icon1 {
            margin-left: 180px;
            margin-top: 30px;
            width: 140px;
            height: 160px;
            border: 1px solid plum;
            border-radius: 5px;
            cursor: pointer;
            background: none;

            img {
                margin-left: -60px;
            }

            h3 {
                margin-top: 30px;
                margin-left: -50px;
            }

            p {
                margin-left: -60px;
                color: rgb(155, 152, 152);
            }

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 2px solid plum;
            }
        }

        .btn-icon2 {
            margin-left: 20px;
            margin-top: 30px;
            width: 140px;
            height: 160px;
            border: 1px solid plum;
            border-radius: 5px;
            cursor: pointer;
            background: none;

            img {
                margin-left: -60px;
            }

            h3 {
                margin-top: 30px;
                margin-left: -30px;
            }

            p {
                margin-left: -60px;
                color: rgb(155, 152, 152);
            }

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 2px solid plum;
            }
        }

        .btn-icon3 {
            margin-left: 20px;
            margin-top: 30px;
            width: 140px;
            height: 160px;
            border: 1px solid plum;
            border-radius: 5px;
            cursor: pointer;
            background: none;

            img {
                margin-left: -60px;
            }

            h3 {
                margin-top: 30px;
                margin-left: -80px;
            }

            p {
                margin-left: -60px;
                color: rgb(155, 152, 152);
            }

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 2px solid plum;
            }
        }
    }

    .modebtn {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left: 180px;
        background-color: rgb(220, 238, 243);
        height: 50px;
        border-radius: 5px;
        padding-bottom: 5px;


        .planSelect {
            margin-top: 10px;
            width: 45px;
            height: 22px;
            margin-left: 30px;
            margin-right: 80px;
            border-radius: 20px;
            border: none;
            position: relative;
            background-color: rgb(1, 1, 92);
        }

        .planCircle {
            width: 15px;
            height: 15px;
            border-radius: 60%;
            border: none;
            margin-left: -18px;
            position: absolute;
            transition: left 0.3s ease-in-out;
            margin-top: 3px;
            background: #fff;
            cursor: pointer;

            &.moved {
                left: 43px;
            }
        }

        .monthly {
            margin-left: -10px;
            color: rgb(4, 4, 109);
        }

        .yearly {
            margin-left: -50px;
            color: rgba(78, 83, 83, 0.575);
        }
    }

    .step2-buttons {
        display: flex;
        text-align: center;
        justify-content: center;

        .go-back1 {
            width: 100px;
            height: 30px;
            margin-top: 130px;
            margin-left: 180px;
            background: none;
            border: none;
            color: rgb(1, 1, 92);
            cursor: pointer;
        }

        .next-btn1 {
            margin-top: 130px;
            margin-left: 280px;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            border: none;
            background-color: rgb(1, 1, 92);
            color: white;
            cursor: pointer;

        }
    }
}

.circle1.active {
    color: #fff;
    border: 1px solid #fff;
    background: none;
}

.circle2.active {
    background-color: rgb(53, 176, 247);
    color: black;
    border: none;
}

.circle3.active {
    background-color: rgb(53, 176, 247);
    color: black;
    border: none;
}

.circle4.active {
    background-color: rgb(53, 176, 247);
    color: black;
    border: none;
}

.yearly.active-yearly {
    color: rgb(4, 4, 109);
}

.monthly.active-monthly {
    color: red;
    // color: rgba(78, 83, 83, 0.575);
}