$tablet-width: 1200px;
$mobile-width: 400px;

.mobile-img {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 239, 248);
}

.header {
    display: flex;
    font-size: 10px;

    // @media (min-width: 400px) {
    //     img {
    //         float: right;
    //     }
    // }

    .steps {
        display: block;
        margin-left: -200px;
    }

    .circle1 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(53, 176, 247);
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: black;
    }

    .step1 {
        display: flex;
        margin-top: 40px;
        margin-left: -50px;
        font-family: system-ui;

        .title1 {
            margin-left: 10px;

            h4 {
                color: rgba(232, 243, 243, 0.575);
            }

            h2 {
                color: white;
                font-size: 13px;
            }
        }
    }

    .circle2 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: #fff;
    }

    .step2 {
        display: flex;
        margin-top: 30px;
        margin-left: -50px;
        font-family: system-ui;

        .title2 {
            margin-left: 10px;
        }

        h4 {
            color: rgba(232, 243, 243, 0.575);
        }

        h2 {
            color: white;
            font-size: 13px;
        }
    }

    .circle3 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: #fff;
    }

    .step3 {
        display: flex;
        margin-top: 30px;
        margin-left: -50px;
        font-family: system-ui;

        .title3 {
            margin-left: 10px;
        }

        h4 {
            color: rgba(232, 243, 243, 0.575);
        }

        h2 {
            color: white;
            font-size: 13px;
        }
    }

    .circle4 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        color: #fff;
    }

    .step4 {
        display: flex;
        margin-top: 30px;
        margin-left: -50px;
        font-family: system-ui;

        .title4 {
            margin-left: 10px;
        }

        h4 {
            color: rgba(232, 243, 243, 0.575);
        }

        h2 {
            color: white;
            font-size: 13px;
        }
    }

}

.container {
    max-width: 1000px;
    display: flex;
    background-color: #fff;
    margin-top: 180px;
    min-width: 800px;
    margin-left: 450px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 250px;
    box-shadow: 1px 1.5px 1px 1px rgba(122, 120, 120, 0.267);

    @media(max-width: $tablet-width) {
        margin: 150px 20px;

    }

    @media (max-width: 800px) {
        margin: 120px 0px;
    }

    @media (max-width: $mobile-width) {
        .desktop-img {
            display: none;
            z-index: 3;
        }

        .mobile-img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 50vh;
            z-index: 1;
        }

        .steps {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;

            h4 {
                display: none;
            }

            h2 {
                display: none;
            }
        }

        .main-1 {
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // z-index: 2;

            .headerCon {
                margin-left: 30px;
            }
        }
    }
}

.main-1 {
    display: block;

    .headerCon {
        margin-left: 220px;
        margin-top: 50px;

        h1 {
            font-family: system-ui;
            font-size: 30px;
            color: rgba(1, 1, 88, 0.658);
        }

        p {
            color: rgba(101, 105, 105, 0.842);
            font-family: system-ui;
        }
    }

    .nameLabel {
        margin-left: 220px;
        margin-top: 30px;

        label {
            display: block;
            color: rgb(1, 1, 92);
            font-family: system-ui;
        }

        input {
            width: 400px;
            height: 40px;
            margin-top: 10px;
            text-indent: 15px;
            border: 1px solid rgba(122, 120, 120, 0.267);
            border-radius: 5px;
            outline: none;
            color: rgba(2, 2, 90, 0.993);
            font-family: system-ui;
            font-size: 15px;
        }
    }

    .emailLabel {
        margin-left: 220px;
        margin-top: 30px;

        label {
            display: block;
            color: rgb(1, 1, 92);
            font-family: system-ui;
        }

        input {
            width: 400px;
            height: 40px;
            margin-top: 10px;
            text-indent: 15px;
            border-radius: 5px;
            border: 1px solid rgba(122, 120, 120, 0.267);
            outline: none;
            color: rgba(2, 2, 90, 0.993);
            font-family: system-ui;
            font-size: 15px;
        }
    }

    .numberLabel {
        margin-left: 220px;
        margin-top: 30px;

        label {
            display: block;
            color: rgb(1, 1, 92);
            font-family: system-ui;
        }

        input {
            width: 400px;
            height: 40px;
            margin-top: 10px;
            text-indent: 15px;
            border-radius: 5px;
            border: 1px solid rgba(122, 120, 120, 0.267);
            outline: none;
            color: rgba(2, 2, 90, 0.993);
            font-family: system-ui;
            font-size: 15px;
        }
    }

    button {
        margin-left: 500px;
        margin-top: 75px;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: rgb(1, 1, 92);
        color: white;
        cursor: pointer;
        font-family: system-ui;
        font-size: 15px;
    }


}

// STEP-2 *******************************************

.main-2 {
    display: none;

    .header-2 {
        margin-left: 180px;
        margin-top: 50px;
    }

    h1 {
        font-family: system-ui;
        font-size: 30px;
        color: rgba(1, 1, 88, 0.658);
    }

    p {
        margin-top: 10px;
        color: rgba(101, 105, 105, 0.842);
        font-family: system-ui;
    }

    .icons {
        display: flex;

        .yearly-free {
            position: absolute;
            display: none;
            margin-top: 10px;
            margin-left: 20px;
            font-family: system-ui;
            color: rgba(1, 1, 88, 0.658);
        }

        .btn-icon1 {
            margin-left: 185px;
            margin-top: 30px;
            width: 140px;
            height: 180px;
            border: 1px solid plum;
            border-radius: 5px;
            cursor: pointer;
            background: none;

            img {
                margin-left: -60px;
                margin-top: -10px;
            }

            h3 {
                margin-top: 10px;
                margin-left: -30px;
                font-family: system-ui;
                font-size: 20px;
                color: rgba(1, 1, 88, 0.658);
            }

            p {
                margin-left: -50px;
                color: rgb(155, 152, 152);
                font-family: system-ui;
                font-size: 15px;
            }

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 2px solid plum;
            }
        }

        .btn-icon2 {
            margin-left: 48px;
            margin-top: 30px;
            width: 140px;
            height: 180px;
            border: 1px solid plum;
            border-radius: 5px;
            cursor: pointer;
            background: none;

            img {
                margin-left: -60px;
                margin-top: -10px;
            }

            h3 {
                margin-top: 10px;
                margin-left: -10px;
                font-family: system-ui;
                font-size: 20px;
                color: rgba(1, 1, 88, 0.658);
            }

            p {
                margin-left: -50px;
                color: rgb(155, 152, 152);
                font-family: system-ui;
                font-size: 15px;
            }

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 2px solid plum;
            }
        }

        .btn-icon3 {
            margin-left: 48px;
            margin-top: 30px;
            width: 140px;
            height: 180px;
            border: 1px solid plum;
            border-radius: 5px;
            cursor: pointer;
            background: none;

            img {
                margin-left: -60px;
                margin-top: -10px;
            }

            h3 {
                margin-top: 10px;
                margin-left: -70px;
                font-family: system-ui;
                font-size: 20px;
                color: rgba(1, 1, 88, 0.658);
            }

            p {
                margin-left: -50px;
                color: rgb(155, 152, 152);
                font-family: system-ui;
                font-size: 15px;
            }

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 2px solid plum;
            }
        }
    }

    .modebtn {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left: 180px;
        background-color: rgb(220, 238, 243);
        height: 50px;
        border-radius: 5px;
        padding-bottom: 5px;


        .planSelect {
            margin-top: 10px;
            width: 45px;
            height: 22px;
            margin-left: 30px;
            margin-right: 80px;
            border-radius: 20px;
            border: none;
            position: relative;
            background-color: rgb(1, 1, 92);
        }

        .planCircle {
            width: 15px;
            height: 15px;
            border-radius: 60%;
            border: none;
            margin-left: -18px;
            position: absolute;
            transition: left 0.3s ease-in-out;
            margin-top: 3px;
            background: #fff;
            cursor: pointer;

            &.moved {
                left: 43px;
            }
        }

        .monthly {
            margin-left: -10px;
            color: rgb(4, 4, 109);
            font-family: system-ui;
        }

        .yearly {
            margin-left: -50px;
            color: rgba(78, 83, 83, 0.575);
            font-family: system-ui;
        }
    }

    .step2-buttons {
        display: flex;
        text-align: center;
        justify-content: center;

        .go-back1 {
            width: 120px;
            height: 40px;
            margin-top: 110px;
            margin-left: 180px;
            background: none;
            border: none;
            color: rgb(108, 109, 109);
            cursor: pointer;
            font-family: system-ui;
            font-size: 15px;
        }

        .next-btn1 {
            margin-top: 110px;
            margin-left: 280px;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: rgb(1, 1, 92);
            color: white;
            cursor: pointer;
            font-family: system-ui;
            font-size: 15px;
        }
    }
}

// STEP-3 *******************************************

.main-3 {
    display: none;
    margin-left: 180px;
    margin-top: 50px;

    .header-3 {
        h1 {
            font-family: system-ui;
            font-size: 30px;
            color: rgba(1, 1, 88, 0.658);
        }

        p {
            margin-top: 10px;
            color: rgba(101, 105, 105, 0.842);
            font-family: system-ui;
        }
    }

    .checkboxs {
        margin-top: 40px;

        .checkbox-1 {
            display: flex;
            width: 450px;
            height: 75px;
            border: 1px solid rgba(122, 120, 120, 0.267);
            border-radius: 5px;
            cursor: pointer;
            font-family: system-ui;

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 1px solid plum;
            }

            input {
                width: 18px;
                color: white;
                border: none;
                background-color: blue;
                margin-left: 20px;

            }

            h3 {
                display: flex;
                margin-left: 40px;
                margin-top: 15px;
                color: rgba(1, 1, 88, 0.658);
            }

            h4 {
                margin-left: -122px;
                margin-top: 40px;
                color: rgba(101, 105, 105, 0.842);
                margin-right: 88px;
                font-size: 15px;
            }

            .monthly-fee {
                float: right;
                margin-right: -300px;
                margin-top: 30px;
                color: plum;
                font-family: system-ui;
            }

            .yearly-fee {
                display: none;
                margin-left: 0px;
                margin-top: 30px;
                color: plum;
                margin-right: -100px;
                font-family: system-ui;
            }
        }

        .checkbox-2 {
            display: flex;
            width: 450px;
            height: 75px;
            border: 1px solid rgba(122, 120, 120, 0.267);
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            font-family: system-ui;

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 1px solid plum;
            }

            input {
                width: 18px;
                color: white;
                border: none;
                background-color: blue;
                margin-left: 20px;

            }

            h3 {
                display: flex;
                margin-left: 40px;
                margin-top: 15px;
                color: rgba(1, 1, 88, 0.658);
            }

            h4 {
                margin-left: -127px;
                margin-top: 40px;
                color: rgba(101, 105, 105, 0.842);
                margin-right: 120px;
                font-size: 15px;
            }

            .monthly-fee {
                float: right;
                margin-right: -300px;
                margin-top: 30px;
                color: plum;
            }

            .yearly-fee {
                display: none;
                margin-left: 0px;
                margin-top: 30px;
                color: plum;
                margin-right: -100px;
            }
        }

        .checkbox-3 {
            display: flex;
            width: 450px;
            height: 75px;
            border: 1px solid rgba(122, 120, 120, 0.267);
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            font-family: system-ui;

            &:hover {
                background-color: rgb(233, 247, 252);
                border: 1px solid plum;
            }

            input {
                width: 18px;
                color: white;
                border: none;
                background-color: blue;
                margin-left: 20px;
            }

            h3 {
                display: flex;
                margin-left: 40px;
                margin-top: 15px;
                color: rgba(1, 1, 88, 0.658);
            }

            h4 {
                margin-left: -181px;
                margin-right: 80px;
                margin-top: 40px;
                color: rgba(101, 105, 105, 0.842);
                font-size: 15px;
            }

            .monthly-fee {
                float: right;
                margin-right: -50px;
                margin-top: 30px;
                color: plum;
            }

            .yearly-fee {
                display: none;
                margin-left: 0px;
                margin-top: 30px;
                color: plum;
                margin-right: -100px;
            }
        }
    }

    .step3-buttons {
        display: flex;
        text-align: center;
        justify-content: center;

        .go-back2 {
            width: 120px;
            height: 40px;
            margin-top: 90px;
            margin-left: -30px;
            background: none;
            border: none;
            color: rgb(108, 109, 109);
            cursor: pointer;
            font-family: system-ui;
            font-size: 15px;
        }

        .next-btn2 {
            margin-top: 90px;
            margin-left: 240px;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: rgb(1, 1, 92);
            color: white;
            cursor: pointer;
            font-family: system-ui;
            font-size: 15px;
        }
    }

}



.circle1.active {
    color: #fff;
    border: 1px solid #fff;
    background: none;
}

.circle2.active {
    background-color: rgb(53, 176, 247);
    color: black;
    border: none;
}

.circle3.active {
    background-color: rgb(53, 176, 247);
    color: black;
    border: none;
}

.circle4.active {
    background-color: rgb(53, 176, 247);
    color: black;
    border: none;
}

.modebtn .monthly.active-monthly {
    color: rgba(78, 83, 83, 0.575);
}

.modebtn .yearly.active-yearly {
    color: rgb(4, 4, 109);
}

.checkbox-1.selected,
.checkbox-2.selected,
.checkbox-3.selected {
    background-color: rgb(233, 247, 252);
    border: 2px solid plum;
}